<html xmlns="http://www.w3.org/1999/xhtml" ng-app="BugTracker">
<head>
    <title>BugTracker</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <base href="/" />
  <link href="~/css/site.css" rel="stylesheet" />
  <link href="~/lib/materialize/dist/css/materialize.css" rel="stylesheet" />
</head>
<body >
  <nav class="z-depth-1 light-green accent-3">
    <div class="nav-wrapper">
      <a class="brand-logo left">Smart Fridge</a>
      <ul class="right">
        <li><a>View Fridge</a></li>
        <li ui-sref="create"><a>Add Item</a></li>
        <li><a ui-sref="login">Log In</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
        <ui-view></ui-view>
    </div>
  <footer class="page-footer light-green accent-3 z-depth-1">
    <div class="container-footer">
      <div class="row footer">
        <div class="col s4">
          <a class="material-icons">view_list</a>
          <br>
          <h6 class="white-text">View Items</h6>
        </div>
        <div class="col s4">
          <a class="material-icons">library_add</a>
          <br>
          <h6 class="white-text">Add Items</h6>
        </div>
        <div class="col s4">
          <a class="material-icons">vpn_key</a>
          <br>
          <h6 class="white-text">Log In</h6>
        </div>
      </div>
    </div>
  </footer>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>
  <script src="~/lib/materialize/dist/js/materialize.js"></script>

    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

</body>
</html>
