<h2>Create a bug:</h2>

<div class="flex-container-create">
  <div class="flex-item">
    <span>Use the form below to enter the details of the bug</span>
    <table>
      <tr id="header">
        <td>Title</td>
        <td>Description</td>
        <td>Severity</td>
      </tr>

      <tr class="listdata" data-toggle="modal" data-target="#myModal">
        <td><input ng-model="controller.title" placeholder="Title" /></td>
        <td><input ng-model="controller.description" placeholder="Description" /></td>
        <td>
          <select ng-model="controller.severity">
            <option style="background: blue;" value="Low">Low</option>
            <option style="background: yellow;" value="Medium">Medium</option>
            <option style="background: red;" value="High">High</option>
          </select>
        </td>
      </tr>
    </table>

  </div>
  <div class="flex-item-submit">
    <button class="btn btn-default" ng-click="controller.submit()">Submit</button>
  </div>
</div>