<h2>Create a bug:</h2>

<div class="flex-container-create">
  <div class="flex-item">
    <span>Use the form below to enter the details of the bug</span>
    <table>
      <tr id="header">
        <td>Title</td>
        <td>Description</td>
        <td>Severity</td>
      </tr>

      <tr class="listdata" data-toggle="modal" data-target="#myModal">
        <td><input placeholder="Title" /></td>
        <td><input placeholder="Description" /></td>
        <td>
          <select>
            <option style="background: blue;">Low</option>
            <option style="background: yellow;">Medium</option>
            <option style="background: red;">High</option>
          </select>
        </td>
      </tr>
    </table>

  </div>
  <div class="flex-item-submit">
    <button class="btn btn-default">Submit</button>
  </div>
</div>