<h2>Current Bugs:</h2>
<div class="flex-container">
  <div class="flex-item">
    <table>
      <tr id="header">
        <td>Severity</td>
        <td>Title</td>
        <td>Date created</td>
      </tr>
      
        <tr  id="$index" ng-click="controller.addCurrent($index)" ng-repeat="bug in controller.bugList" class="listdata" data-toggle="modal" data-target="#myModal" >
          <td>{{bug.severity}}</td>
          <td>{{bug.title}}</td>
          <td>{{bug.date}}</td>
        </tr>
    </table>
  </div>
</div>
<span>{{controller.current}}</span>
<ul>
  <li ng-repeat="bug in controller.bugList">{{bug}}</li>
</ul>
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{controller.current.title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{controller.current.description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <br />
    </div>
  </div>

</div>

